
.wizardTop {
    .pageTop {
        .header {
            display: flex;
            flex-direction: row;
        }

        .options {
            display: flex;
            flex-direction: column;
        }
    }
}